@charset "utf-8";

/*CSS Document*/
body {

	margin: 0px;
	padding: 0px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.box {
	height: 55px;
	width: 100%;
	border-radius: 5px;
	background-color: #e2d1f9;
	/*box-sizing:border-box;*/
	margin: 10px 10px;
}
 
.songtext {
	/*background:black;*/
	width: 25%;
	height: auto;
	float: left;
	/*font-weight:bold;*/
	letter-spacing: 2px;
	font-family: colabri;
	font-size: 12px;
	vertical-align: center;
}

.songaudio {
	background: yellow;
	width: 50%;
	float: left;
}

.wpmd {
	font-size: 13px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-style: normal;
	font-weight: normal;
}

/*------------------responsive for phone-------------*/
@media(max-width:720px) {}