.left {
  padding: 60px;
  float: left;
  width: 70%;
  /* The width is 20%, by default */

}

.right {
  padding: 60px;
  float: left;
  width: 30%;
  /* The width is 20%, by default */
  margin-top: 30px;
}


#audio {
  width: 50%;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 15px;
  background-color: black;
}

#song-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#song-list li {
  cursor: pointer;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 30px;
}

#song-list li:hover {
  text-decoration: underline;
}

.title marquee {
  color: white;
  font-size: 18px;
}

/* Change the color of the audio controls */
#audio::-webkit-media-controls-panel {
  color: #ffffff;
  /* Text color for Webkit browsers (Chrome, Safari) */
  background-color: #474540;
  /* Background color for Webkit browsers (Chrome, Safari) */

}

#audio::-moz-media-controls-panel {
  color: #ffffff;
  /* Text color for Mozilla Firefox */
  background-color: #474540;
  /* Background color for Mozilla Firefox */
}

#audio::-ms-media-controls {
  color: #ffffff;
  /* Text color for Microsoft Edge */
  background-color: #474540;
  /* Background color for Microsoft Edge */
}

/* Change the color of the progress bar */
#audio::-webkit-media-controls-progress-bar {
  background-color: #00ff00;
  /* Background color of the progress bar for Webkit browsers (Chrome, Safari) */
}

#audio::-moz-range-progress {
  background-color: #00ff00;
  /* Background color of the progress bar for Mozilla Firefox */
}

#audio::-ms-fill-lower {
  background-color: #00ff00;
  /* Background color of the progress bar for Microsoft Edge */
}

/* Change the color of the volume slider */
#audio::-webkit-media-controls-volume-slider {
  background-color: #ff0000;
  /* Background color of the volume slider for Webkit browsers (Chrome, Safari) */
}

#audio::-moz-range-track {
  background-color: #ff0000;
  /* Background color of the volume slider for Mozilla Firefox */
}

#audio::-ms-track {
  background-color: #ff0000;
  /* Background color of the volume slider for Microsoft Edge */
}


#song-list {
  max-height: 480px;
  /* Set the maximum height of the song list */
  overflow-y: scroll;
  /* Enable vertical scrolling */
  margin-top: 10px;
  /* Add some spacing between the audio player and song list */
  padding: 0;
  max-width: 100%
}

#song-list::-webkit-scrollbar {
  width: 5px;
  /* Set the width of the scroll bar */
}

#song-list::-webkit-scrollbar-thumb {
  background-color: black;
  /* Set the color of the scroll bar thumb */
}

.song-list::-webkit-scrollbar-track {
  background-color: inherit;
  /* Set the color of the scroll bar track */
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {

  .left,
  .right {
    width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */
    padding: 0px;
  }

  .right {

    margin-top: 0px;
  }

  .left {
    padding-top: 60px;
  }
}



table {
  padding-bottom: 25px;
}

.playlist-item.active {
  font-weight: bold;
}