* {
    box-sizing: border-box;
}

.lefttour {
    padding: 20px;
    float: left;
    width: 50%;
    /* The width is 20%, by default */
    height: auto;
}

.maintour {
    padding: 20px;
}


.righttour {

    float: left;
    width: 50%;
    /* The width is 20%, by default */
    height: auto;
}


/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {

    .lefttour,
    .main,
    .righttour {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
}

.tourist_places_heading {
    padding-top: 60px;
    font-family: Arial;
    text-align: center;
    font-weight: bolder;
    font-size: 33px;
}

.tour_heading_name {
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.tourist_places_sub_heading {
    padding-top: 60px;
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 43px;
}

.tour_heading_name2 {
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.paragraph {
    font-size: 22px;
}

.right {
    width: 50%;
    float: left;
}

.left {
    float: left;
    width: 50%;
}