RewriteEngine On

# Skip the following rules if the request is for a directory
RewriteCond %{REQUEST_FILENAME} !-d

# Skip the following rules if the request is for an existing file
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite non-existent URLs to add a .php extension
RewriteRule ^([^\.]+)$ $1.php [NC,L]
