<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>first ejs</title>
  </head>
  <body>
    <h1>This is first ejs2</h1>
    <h3>this is node output <%= checkValue %></h3>
  </body>
</html>
