body {
    background-color: aqua;
    text-align: center;
}

ul {
    height: 100px;
    width: 70px;
    border: 1px solid rgb(0, 255, 255);
    text-align: center;
    margin: auto;
}

button {
    background-color: blueviolet;
    color: white;
}

img {
    width: 100px;
    height: 100px;
}