<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>roll the dice</title>
</head>
<body>
    <h1>The roll dice number is  <%= rollValue %></h1>

    <% if(rollValue == 6) { %>
    <h3>Congratulation now rotate again</h3>
    <% } %>
</body>
</html>